[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Lazyfier
Comment='Lazyfier remote controller server'
Categories=Utility;
Exec=/opt/lazyfier_6/LazyfierServer
StartupNotify=false
Terminal=false
Path=/opt/lazyfier_6/LazyfierServer
Icon=/opt/lazyfier_6/ic_launcher.png
