Package: lazyfier
Version: 6.1
Section: base
Priority: optional
Architecture: amd64
Depends: xdotool (>= 1), sox
Maintainer: Rada Berar <ujagaga@gmail.com>
Homepage: http://radinaradionica.com/en/handicrafts/Programming
Description: Lazyfier remote controller for PC
 This is the server for Lazyfier client Android app:
 https://github.com/ujagaga/LazyfierClient
 .	
 I wrote python scripts for Linux (tested on XUbuntu but should work on any other version too) and Windows (tested on win7 64-bit and windows 10). 
 It emulates multimedial keyboard input:
 - PLAY/PAUSE
 - STOP
 - NEXT
 - PREVIOUS
 - VOLUME_UP
 - VOLUME_DOWN
 .
 and uses it's own script to shut down the computer.
 .
 If a browser window with YouTube opened has focus, the PLAY button sends "k" and NEXT and PREVIOUS button send "l" and "j" to support youtube commands.
 Long press on PLAY button sends "space" to support playing videos in a browser.
 .
 The scripts are converted to binaries using pyInstaller.
 